{% extends 'base.html' %}
{% block title %}Url Tool{% endblock %}
{% block mainContent %}
<section class="container section flex">
    <form id="urlForm" class="container">
        {% csrf_token %}
        <input type="text" required name="url" id="url_link" placeholder="Enter Your Url">
        <button type="submit" class="button" id="shorten">Check</button>
    </form>
</section>

<div id="link_info" class="link_div container">
    <p id="result"></p>
</div>

<script>
    document.getElementById('urlForm').addEventListener('submit', function(event) {
        event.preventDefault();
        checkUrl();
    });

    async function checkUrl() {
        const formData = new FormData(document.getElementById('urlForm'));
        showLoadingMessage();
        try {
            const response = await fetch('', {
                method: 'POST',
                body: formData
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            displayResult(data);
        } catch (error) {
            displayResult({status: 'error', message: error.message});
        }
    }

    function showLoadingMessage() {
        const linkInfoDiv = document.getElementById('link_info');
        linkInfoDiv.style.display = "block";
        const resultDiv = document.getElementById('result');
        resultDiv.innerHTML = '<p>Checking...</p>';
        let dots = 0;
        const interval = setInterval(() => {
            dots = (dots + 1) % 4;
            resultDiv.innerHTML = `<p>Checking${'.'.repeat(dots)}</p>`;
        }, 500);
        resultDiv.dataset.loadingInterval = interval; 
    }

    function displayResult(data) {
        const resultDiv = document.getElementById('result');
        clearInterval(resultDiv.dataset.loadingInterval); 
        resultDiv.innerHTML = `
            <p>Status: <span class="shortlink">${data.status}</span></p>
            <p>Status Message: <span class="shortlink">${data.message}</span></p>
        `;
        if (data.initial_url) {
            resultDiv.innerHTML += `<p>Initial URL: <span class="shortlink">${data.initial_url}</span></p>`;
        }
        if (data.final_url) {
            resultDiv.innerHTML += `<p>Final URL: <span class="shortlink">${data.final_url}</span></p>`;
        }
        if (data.status_code) {
            resultDiv.innerHTML += `<p>Status Code: <span class="shortlink">${data.status_code}</span></p>`;
        }
        if (data.redirects) {
            resultDiv.innerHTML += `<p>Number of Redirects: <span class="shortlink">${data.redirects}</span></p>`;
        }
        if (data.vt_message) {
            resultDiv.innerHTML += `<p>Message: <span class="shortlink">${data.vt_message}</span></p>`;
        }
    }
</script>
<br>

{% endblock %}
